In [31]:
dt = 0.01
t = 0
bodies = []
class Particle:
    mass = 1.0
    position = 1.0
    velocity = 1.0

    def __init__(self, mass = 1, position = 0, velocity = 0):    
        self.mass = mass
        self.position = position
        self.velocity = velocity
    def addForce(self, f, dt):
        self.velocity = self.velocity + f/self.mass*dt
    def move(self, dt = 0.01):
        self.position = self.position + self.velocity*dt
        
bodies = []
for i in range(0,10):
    a = Particle(1,i,i)
    bodies.append(a)
    
t = 0
dt = 0.01
f = 1
while t < 1:
    for i in range(0,10):
        bodies[i].addForce(f,dt)
        bodies[i].move(dt)
    t = t + dt
    print("Time: %3.3f, Position: %3.3f."%(t, bodies[0].position))

Time: 0.010, Position: 0.000.
Time: 0.020, Position: 0.000.
Time: 0.030, Position: 0.001.
Time: 0.040, Position: 0.001.
Time: 0.050, Position: 0.002.
Time: 0.060, Position: 0.002.
Time: 0.070, Position: 0.003.
Time: 0.080, Position: 0.004.
Time: 0.090, Position: 0.005.
Time: 0.100, Position: 0.006.
Time: 0.110, Position: 0.007.
Time: 0.120, Position: 0.008.
Time: 0.130, Position: 0.009.
Time: 0.140, Position: 0.010.
Time: 0.150, Position: 0.012.
Time: 0.160, Position: 0.014.
Time: 0.170, Position: 0.015.
Time: 0.180, Position: 0.017.
Time: 0.190, Position: 0.019.
Time: 0.200, Position: 0.021.
Time: 0.210, Position: 0.023.
Time: 0.220, Position: 0.025.
Time: 0.230, Position: 0.028.
Time: 0.240, Position: 0.030.
Time: 0.250, Position: 0.033.
Time: 0.260, Position: 0.035.
Time: 0.270, Position: 0.038.
Time: 0.280, Position: 0.041.
Time: 0.290, Position: 0.044.
Time: 0.300, Position: 0.047.
Time: 0.310, Position: 0.050.
Time: 0.320, Position: 0.053.
Time: 0.330, Position: 0.056.
Time: 0.340, Position: 0.060.
Time: 0.350, Position: 0.063.
Time: 0.360, Position: 0.067.
Time: 0.370, Position: 0.070.
Time: 0.380, Position: 0.074.
Time: 0.390, Position: 0.078.
Time: 0.400, Position: 0.082.
Time: 0.410, Position: 0.086.
Time: 0.420, Position: 0.090.
Time: 0.430, Position: 0.095.
Time: 0.440, Position: 0.099.
Time: 0.450, Position: 0.104.
Time: 0.460, Position: 0.108.
Time: 0.470, Position: 0.113.
Time: 0.480, Position: 0.118.
Time: 0.490, Position: 0.123.
Time: 0.500, Position: 0.128.
Time: 0.510, Position: 0.133.
Time: 0.520, Position: 0.138.
Time: 0.530, Position: 0.143.
Time: 0.540, Position: 0.149.
Time: 0.550, Position: 0.154.
Time: 0.560, Position: 0.160.
Time: 0.570, Position: 0.165.
Time: 0.580, Position: 0.171.
Time: 0.590, Position: 0.177.
Time: 0.600, Position: 0.183.
Time: 0.610, Position: 0.189.
Time: 0.620, Position: 0.195.
Time: 0.630, Position: 0.202.
Time: 0.640, Position: 0.208.
Time: 0.650, Position: 0.215.
Time: 0.660, Position: 0.221.
Time: 0.670, Position: 0.228.
Time: 0.680, Position: 0.235.
Time: 0.690, Position: 0.242.
Time: 0.700, Position: 0.249.
Time: 0.710, Position: 0.256.
Time: 0.720, Position: 0.263.
Time: 0.730, Position: 0.270.
Time: 0.740, Position: 0.278.
Time: 0.750, Position: 0.285.
Time: 0.760, Position: 0.293.
Time: 0.770, Position: 0.300.
Time: 0.780, Position: 0.308.
Time: 0.790, Position: 0.316.
Time: 0.800, Position: 0.324.
Time: 0.810, Position: 0.332.
Time: 0.820, Position: 0.340.
Time: 0.830, Position: 0.349.
Time: 0.840, Position: 0.357.
Time: 0.850, Position: 0.366.
Time: 0.860, Position: 0.374.
Time: 0.870, Position: 0.383.
Time: 0.880, Position: 0.392.
Time: 0.890, Position: 0.401.
Time: 0.900, Position: 0.410.
Time: 0.910, Position: 0.419.
Time: 0.920, Position: 0.428.
Time: 0.930, Position: 0.437.
Time: 0.940, Position: 0.447.
Time: 0.950, Position: 0.456.
Time: 0.960, Position: 0.466.
Time: 0.970, Position: 0.475.
Time: 0.980, Position: 0.485.
Time: 0.990, Position: 0.495.
Time: 1.000, Position: 0.505.

# List

In [1]:
myList=[1,True,'Hi']
myList[0]=2
print(myList)

[2, True, 'Hi']

In [2]:
myList=[2,True,'Hi']
A=myList+[3]
print(A)

[2, True, 'Hi', 3]

In [3]:
myList=[2,True,'Hi']
A=myList*2
print(A)

[2, True, 'Hi', 2, True, 'Hi']

In [4]:
myList=[2,True,'Hi']
A=('Hi' in myList)
print(A)

True

In [5]:
myList=[2,True,'Hi']
A=len(myList)
print(A)

3

In [6]:
myList=[2,True,'Hi']
A=myList[0:2]
print(A)

[2, True]

In [7]:
myList = [1,2,3,4]
A = [myList]*3
print(A)
myList[2]=45
print(A)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

In [8]:
myList = [1,2,3,4]
A = myList*3
print(A)
myList[2]=45
print(A)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [9]:
myList = [1,2,3,4]
B = [myList]*3
print(B)
myList[2]=45
print(B)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

In [77]:
theSum=0
print(theSum)
theSum=theSum+1
print(theSum)
theSum=True
print(theSum)

0
1
True

In [24]:
myList=[2,True,'Hi']
A=myList.append([0])
print(myList)
print(A)

[2, True, 'Hi', [0]]
None

In [23]:
myList=[2,True,'Hi']
A=myList.insert(1,[0])
print(myList)
print(A)

[2, [0], True, 'Hi']
None

In [25]:
myList=[2,True,'Hi']
A=myList.pop()
print(myList)
print(A)

[2, True]
Hi

In [26]:
myList=[2,True,'Hi']
A=myList.pop(1)
print(myList)
print(A)

[2, 'Hi']
True

In [28]:
myList=[2,0,1,7]
A=myList.sort()
print(myList)
print(A)

[0, 1, 2, 7]
None

In [29]:
myList=[2,True,'Hi']
A=myList.reverse()
print(myList)
print(A)

['Hi', True, 2]
None

In [32]:
myList=[2,True,'Hi']
del myList[0]
print(myList)

[True, 'Hi']

In [33]:
myList=[2,0,1,2]
A=myList.index(2)
print(myList)
print(A)

[2, 0, 1, 2]
0

In [34]:
myList=[2,0,1,2]
A=myList.count(2)
print(myList)
print(A)

[2, 0, 1, 2]
2

In [35]:
myList=[2,True,'Hi']
A=myList.remove(True)
print(myList)
print(A)

[2, 'Hi']
None

In [9]:
(54).__add__(21)

75

In [8]:
("Hello ").__add__("World")

'VICTORIA'

In [5]:
("Victoria").upper()

'VICTORIA'

In [42]:
A=list(range(10))
print(A)
A=list(range(5,10))
print(A)
A=list(range(5,10,2))
print(A)
A=list(range(10,1,-1))
print(A)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

# String

In [76]:
myName='Victoria'
print(myName[1])
print(myName*2)
print(len(myName))

i
VictoriaVictoria
8

In [74]:
myName="Victoria"
myName.center(12)

'  Victoria  '

In [71]:
myName="Victoria"
A=myName.count('i')

2

In [60]:
myName="Victoria"
myName.ljust(12)

'Victoria    '

In [61]:
myName="Victoria"
myName.lower()

'victoria'

In [1]:
myName="Victoria"
myName.rjust(6)

'Victoria'

In [64]:
myName="Victoria"
myName.find('i')

1

In [65]:
myName="Victoria"
myName.split('i')

['V', 'ctor', 'a']

In [66]:
myName="Victoria"
myName.upper()

'VICTORIA'

In [75]:
myName='Victoria'
myName[0]='W'

TypeError: 'str' object does not support item assignment

# Tuple

In [4]:
myTuple = (2,True,4.96)
print(len(myTuple))
print(myTuple*3)
print(myTuple[0:2])

3
(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)
(2, True)

In [3]:
myTuple = (2,True,4.96)
myTuple[1] = False

TypeError: 'tuple' object does not support item assignment

# Set

In [6]:
mySet = {3,6,"cat",4.5,False}
print(mySet)

{False, 3, 4.5, 6, 'cat'}

In [11]:
mySet = {3,6,"cat",4.5,False,False}
print(mySet)
mySet = set()
print(mySet)

{False, 3, 4.5, 6, 'cat'}
set()

In [17]:
A = "CAT" in {3,"cat",False}
print(A)

False

In [18]:
A = len({3,"cat",False})
print(A)

3

In [19]:
A = {3,"cat",False}|{2,"cat"}
print(A)

{False, 2, 3, 'cat'}

In [20]:
A = {3,"cat",False}&{2,"cat"}
print(A)

{'cat'}

In [22]:
A = {3,"cat",False}-{2,"cat"}
print(A)

{False, 3}

In [23]:
A = {False,"cat"}<={3,"cat",False}
print(A)

True

In [40]:
mySet = {3,"cat",False}
A = mySet.union({2,"cat"})
print(mySet)
print(A)

{False, 'cat', 3}
{False, 2, 3, 'cat'}

In [41]:
mySet = {3,"cat",False}
A = mySet.intersection({2,"cat"})
print(mySet)
print(A)

{False, 'cat', 3}
{'cat'}

In [42]:
mySet = {3,"cat",False}
A = mySet.difference({2,"cat"})
print(mySet)
print(A)

{False, 'cat', 3}
{False, 3}

In [43]:
mySet = {2,"cat"}
A = mySet.issubset({3,"cat",False})
print(mySet)
print(A)

{'cat', 2}
False

In [44]:
mySet = {3,"cat",False}
A = mySet.add(2)
print(mySet)
print(A)

{False, 2, 'cat', 3}
None

In [45]:
mySet = {3,"cat",False}
A = mySet.remove(3)
print(mySet)
print(A)

{False, 'cat'}
None

In [46]:
mySet = {3,"cat",False}
A = mySet.pop()
print(mySet)
print(A)

{'cat', 3}
False

In [47]:
mySet = {3,"cat",False}
A = mySet.clear()
print(mySet)
print(A)

set()
None

# Dictionary

In [50]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}
print(capitals['Iowa'])
capitals['Utah']='SaltLakeCity'
print(capitals)
capitals['California']='Sacramento'
print(len(capitals))
for k in capitals:
   print(capitals[k],":", k)

DesMoines
{'Iowa': 'DesMoines', 'Wisconsin': 'Madison', 'Utah': 'SaltLakeCity'}
4
DesMoines : Iowa
Madison : Wisconsin
SaltLakeCity : Utah
Sacramento : California

In [54]:
phone = {'david':1410,'brad':1137}
A = phone['david']
print(phone)
print(A)

{'david': 1410, 'brad': 1137}
1410

In [55]:
phone = {'david':1410,'brad':1137}
A = 'david' in phone
print(phone)
print(A)

{'david': 1410, 'brad': 1137}
True

In [58]:
phone = {'david':1410,'brad':1137}
del phone['david']
print(phone)

{'brad': 1137}

In [59]:
phone = {'david':1410,'brad':1137}
A = phone.keys()
print(phone)
print(A)

{'david': 1410, 'brad': 1137}
dict_keys(['david', 'brad'])

In [60]:
phone = {'david':1410,'brad':1137}
A = phone.values()
print(phone)
print(A)

{'david': 1410, 'brad': 1137}
dict_values([1410, 1137])

In [61]:
phone = {'david':1410,'brad':1137}
A = phone.items()
print(phone)
print(A)

{'david': 1410, 'brad': 1137}
dict_items([('david', 1410), ('brad', 1137)])

In [63]:
phone = {'david':1410,'brad':1137}
A = phone.get('david')
print(phone)
print(A)

{'david': 1410, 'brad': 1137}
1410

In [66]:
phone = {'david':1410,'brad':1137}
A = phone.get('lenna','Empty')
print(phone)
print(A)

{'david': 1410, 'brad': 1137}
Empty

# Input/Output

In [67]:
sradius = input("Please enter the radius of the circle ")
radius = float(sradius)
diameter = 2 * radius

Please enter your name: Kevin

In [8]:
class Stack:
     def __init__(self):
         self.items = []

     def isEmpty(self):
         return self.items == []

     def push(self, item):
         self.items.append(item)

     def pop(self):
         return self.items.pop()

     def peek(self):
         return self.items[len(self.items)-1]

     def size(self):
         return len(self.items)

In [11]:
from pythonds.basic.stack import Stack
s=Stack()

print(s.isEmpty())
s.push(4)
s.push('dog')
print(s.peek())
s.push(True)
print(s.size())
print(s.isEmpty())
s.push(8.4)
print(s.pop())
print(s.pop())
print(s.size())

True
dog
3
False
8.4
True
2